.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 16px;
  border: 1px solid #fff;
  padding: 16px;

  .key {
    width: 25%;
    color: #fff;
    height: 70px;

    &:hover {
      background: #ccc;
    }
  }
}
